* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
}

:root {
  --light_blue-color: #53AAD2;
  --beige-color: #E2E6D5;
  --green-color: #0A5D4B;
  --baby_blue-color:  #97BDCC;
  --dark_blue-color: #243B78;
  --red_erro_msg-color: red;
}


html, body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

header {
  height: 110px;
  background-color: #e2e6d5;
  border: 1px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

header .img-logos a {
  display: flex;
  gap: 80px;
}

header .menu {
  width: 800px;
  gap: 15px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

header .menu a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 300;
  color: black;
  margin-right: 10px;
}

header .menu .btn-entrar,
header .menu .btn-registrar,
header .menu .btn-perfil,
header .menu .btn-loggout,
main .container form .btn-op button,
main .container form .btn-op a {
  width: 100px;
  background-color: white;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  font-size: 20px;
}

header .menu .btn-entrar,
header .menu .btn-registrar {
  margin-right: 0px;
}

header .menu .btn-registrar,
header .menu .btn-loggout {
  background-color: #2c2c2c;
  color: white;
}

main {
  height: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

main .container {
  width: 700px;
  height: 700px;
  border: 1px solid black;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
}

main .container h1 {
  font-size: 50px;
  color: var(--green-color);
  margin-bottom: 10px;
}

main .container form {
  display: flex;
  flex-direction: column;
  margin: 10px 40px;
  gap: 20px;
}

main .container form label {
  text-align: start;
  font-size: 20px;
  font-weight: 500;
}

main .container form input[type="text"],
main .container form input[type="password"],
main .container form input[type="number"] {
  height: 30px;
  margin-bottom: 10px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 10px;
  font-size: 18px;
}

/* Para Chrome, Sefari, Edge e Opera */
main .container form input[type="number"]::-webkit-inner-spin-button,
main .container form input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Para Firefox */
main .container form input[type="number"]{
  -moz-appearance: textfield;
}

