{% extends "diagnostico/base.html" %}

{% load static %}

{% block title %} Formulário de criação de conta {% endblock title %}

{% block extra_styles %} 
  <link rel="stylesheet" href="{% static "css/diag_form.css" %}">
{% endblock extra_styles %}

{% block menu %}
  <a href="" class="btn-entrar">Entrar</a>
  <a href="" class="btn-registrar">Registrar</a>
{% endblock menu %}

{% block main %}

  <div class="container">

    <h1> {{ title }}</h1>

    <form method="post">
      
      {% csrf_token %}
      {{ form.as_p}}

      {% if form.non_field_errors %}
        <ul>
          {% for error in form.non_field_errors %}
            <li> {{ error }} </li>
          {% endfor %}
        </ul>
      {% endif %}

      <div class="btn-op">
        <button class="btn-form-slv" type="submit">Cadastrar</button>
        <a href = "{{ request.session.previous_url }}" class="btn-form-cancelar">Cancelar</a>
      </div>
      
    </form>
    
  </div>
{% endblock main %}

{% block extra_scripts %} 
  
  <script>
    document.addEventListener('DOMContentLoaded', function () {
      var cnpjField = document.getElementById('cnpj');
      var nmrContatoField = document.getElementById('nmrContato');
      Inputmask("99.999.999/9999-99").mask(cnpjField);
      Inputmask("(99) 999.99-99.99").mask(nmrContatoField);
    });
  </script>

{% endblock extra_scripts %}