{% extends "diagnostico/base.html" %}

{% load static %}

{% block title %} Formulário de criação de conta {% endblock title %}

{% block extra_styles %} 
  <link rel="stylesheet" href="{% static "css/diag_form.css" %}">
{% endblock extra_styles %}

{% block menu %}
  <a href="" class="btn-entrar">Entrar</a>
  <a href="" class="btn-registrar">Registrar</a>
{% endblock menu %}

{% block main %}

<div class="container">

  <h1> {{ title }}</h1>

  <form method="post">
    
    {% csrf_token %}
    {{ form.as_p}}

    {% if form.errors %}

      <div class="msg_erro">
        {{ form.errors }}
      </div>

    {% endif %}
    
    <div class="btn-op">
      <button class="btn-form-slv" type="submit">Cadastrar</button>
    </div>
    
  </form>
  
</div>
{% endblock main %}

{% block extra_scripts %} 
  
  <script>

    console.log("Script carregado: ", $inputmask);

    $(document).ready(function(){

      if ($.inputmask) {
        console.log("Inputmask está disponível!");
      } else {
        console.log("Inputmask não está disponível!");
      }
    
      $('#cnpj').inputmask('99.999.999/0001-99'); // Máscara para CNPJ
      $('#nmrContato').inputmask('(99) 999.99-99.99'); // Máscara para CPF

    });
  </script>
{% endblock extra_scripts %}